NEXT_PUBLIC_SENTRY_DSN=https://7bba687e10af3e305e908387dded6b21@o4511635419561984.ingest.us.sentry.io/4511635423100928
NEXT_PUBLIC_SENTRY_ENVIRONMENT=production
NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=1
NEXT_PUBLIC_SENTRY_REPLAY_SESSION_SAMPLE_RATE=1
NEXT_PUBLIC_SENTRY_REPLAY_ERROR_SAMPLE_RATE=1

SENTRY_DSN=https://7bba687e10af3e305e908387dded6b21@o4511635419561984.ingest.us.sentry.io/4511635423100928
SENTRY_ENVIRONMENT=production
SENTRY_TRACES_SAMPLE_RATE=1

# Required only for production source map upload during CI builds.
SENTRY_ORG=folioify
SENTRY_PROJECT=javascript-nextjs
SENTRY_AUTH_TOKEN=832547f271e011f18d651a34fe219c8f
